body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.navbar {
    background: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

a.active {
    background: #ddd;
    color: black;
}

.dropMenu {
    float: right;
}

.dropButton {
    color: #f2f2f2;
    background: #333;
    text-align: center;
    padding: 14px 16px;
    border: none;
    font-size: 17px;
    cursor: pointer;
}

.dropButton:hover, .dropButton:focus {
    background: #ddd;
    color: black;
}

.drop-Content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f2f2f2;
    color: black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1
}

.drop-Content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .drop-Content a:hover {  
    background-color: #ddd
}

.show {
    display: block;
}

.login-background {
    color: #f2f2f2;
    text-align: center;
    background: rgba(51,51,51, 0.9);
    width: 30%;
    height: 575px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 25px;
}

.login-background-image {
    background-image: url('/imgs/sky.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.login-form {
    margin: auto;
    padding-top: 5%;
}

.login-background{
    font-size: 250%;
}

#loginForm input {
    width: 50%;
    color: black;
    padding: 10px 15px;
    margin: 25px;
    outline: none;
    border: none;
    border-radius: 2px;
}

#loginForm input:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid cornflowerblue;
}

.login-button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 2px;
    color: #f2f2f2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

.login-button:hover {
    background-color: rgba(100, 149, 237, 0.7);
    color: rgba(242, 242, 242, 0.7);
}

a.register-button, a.register-button:hover, a.register-button:active, a.register-button:visited {
    color: #f2f2f2;
    font-size: 16px;
}

.newUserText {
    font-size: 40%;
}

hr {
    width: 75%;
    border: 1px solid rgba(242, 242, 242, 1);
}

.loginErrorMessage {
    color: red;
    font-size: 10px;
}

.landing-page-banner {
    background-image: url('/imgs/plane.jpeg');
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.landing-page-text {
    color: #f2f2f2;
    width: 40%;
    margin-top: 10%;
    margin-left: 5%;
}

h1.landing {
    font-size: 450%;
}

.blurb {
    width: 65%;
    font-size: 125%;
}

.landing-page-button {
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    width: 40%;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

.landing-page-button:hover {
    background-color: rgba(230, 230, 230, 1);
    color:rgba(60, 60, 60);
}

.sidebanner {
    background-image: url('/imgs/wing.jpeg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
}

.registration {
    margin-left: 30%;
}

#sign-up input {
    width: 20%;
    color: black;
    padding: 10px 15px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    outline: none;
    border: 2px solid rgba(51, 51, 51, 0.2);
    border-radius: 2px;
}

#sign-up input:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid cornflowerblue;
}

#registrationSubmit {
    background-color: cornflowerblue;
    border: none;
    border-radius: 2px;
    color: #f2f2f2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

.blue-sidebar {
    position: fixed;
    height: 100%;
    width: 5%;
    background: cornflowerblue;
    right: 0;
    top: 0;
}

.registration a {
    color: rgba(51, 51, 51, 0.5);
    text-decoration: none;
    margin-left: 85%;
}

.registration a:hover {
    color: cornflowerblue;
}

.registration-header {
    font-size: 450%;
    margin-top: 0%;
}

.registration-success {
    margin-left: 30%;
    margin-top: 5%;
}

.back-to-login {
    background-color: cornflowerblue;
    border: none;
    border-radius: 2px;
    color: #f2f2f2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
}

#flight-data {
    border-collapse: collapse;
    width: 100%;
  }
  
  #flight-data td, #flight-data th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #flight-data tr:nth-child(even){background-color: #f2f2f2;}
  #flight-data tr:nth-child(odd){background-color: white;}
  
  #flight-data tr:hover {background-color: #ddd;}
  
  #flightdata th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #333;
    color: #f2f2f2;
  }

  .flight-table {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
  }

  .book-button {
    background-color: cornflowerblue;
    border: none;
    border-radius: 2px;
    color: #f2f2f2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
}

.book-button:hover {
    background-color: rgba(100, 149, 237, 0.7);
    color: rgba(242, 242, 242, 0.7);
}